

name: Run Trading Script Dht3 only

on:
  workflow_dispatch:        # Allows manual run

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script dht3
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          DHAN_API_KEY: ${{ secrets.DHAN_API_KEY }}
          DHAN_CHAT_ID: ${{ secrets.DHAN_CHAT_ID }}
          
          
        run: |
          python Dht3.py
